body{
    background-color: rgb(11, 13, 20);
    position: relative;
}

.container-form {
    position: relative;
    padding: 10px;
    margin: auto;
    width: 30%;
    border-radius: 15px;
    margin-top: 7%;
}

.container-form::after{
    content: "";
    background-color: rgb(184, 188, 189);
    border-radius: 15px;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

label {
    display: block;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
}

input[type=password]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
}

.bu3{
    background-color: #410777;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
    width: 30%;
}

.button2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.homepage{
    color: white;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.bu3:hover{
    background-color: rgb(196, 196, 49);
    color: black;
    transition: 0.9s ease-in;
}