*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyone{
    position: relative;
    background-color: #212529;
    width: 100%;
    height: 400px;
}

.hone{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Arial';
    font-weight: bold;
}

.paragraph{
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
}

.twobtns{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.twobtns a{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    border: 1px solid white;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.twobtns a:hover{
    background-color: rgb(192, 192, 24);
    color: black;
    border: none;
    transition: 0.9s ease-in;
    border-radius: 20px;
}

.bodytwo{
    position: relative;
    background-color: #1d2227;
    width: 100%;
    height: 500px;
}

.listgroup{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.htwo {
    position: absolute;
    font-family: sans-serif;
    color: #fff;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.paragraphtwo{
    position: absolute;
    color: white;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

.bodythree{
    position: relative;
    background-color: #2a2d31;
    width: 100%;
    height: 400px;
}

.table{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: white;
    border-collapse: collapse;
    margin: 5rem auto;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(211, 9, 9, 0.15);
}

.table thead tr {
    font-family: 'Arial';
    font-size: 1em;
    background-color: #009879;
    color: #fff;
    text-align: center;
}

.table tbody tr{
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}

.table th{
    padding: 20px;
}

.table td{
    padding: 20px;
}

.table tbody tr:nth-child(even){
    background-color: #009879;
    color: #fff;
}

.table tbody tr:last-child{
    border-bottom: 4px solid #d0ff00;
}

footer{
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 10px;
    color: white;
}

/* @media only screen and(max-width: 476px){
    .twobtns a{
        color: black;
    }
} */